@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color:#fff;
}
/*Outer part*/
.about-section{
  display: relative;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),url(/img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Background of top nav*/
.top-nav {
  background-color: #2d9aff;
  overflow: hidden;
}
/*links of top nav left*/
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*hover links color*/ 
.top-nav a:hover {
  background-color: #ddd;
  color: black;
}
/*active session of top nav*/
.top-nav a.active {
  background-color: #04AA6D;
  color: white;
}
/*top-nav right*/
.top-nav-right{
  float:right;
}
/*Inner*/
.container{
  width: 70%;
  display: block;
  margin: auto;
  padding-top: 50px;
}
/*Text content*/
.content-section{
  margin-top: 100px;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  float:left;
  width: 100%;
}
/*TEXT*/
.text-section{
  width:50%;
}
.title{
  text-align: center;
}
/*image*/
.image-section{
  float:right;
  width:45%;
}
.image-section img{
  margin-top: 0px;
  margin-left:0px;
  width:100%;
  height: auto;
  border-radius: 20%;
}
.content-section .title{
  margin-left: 30px;
  font-size: 25px;
}
.content-section .content h3{
  margin-left:30px;
  color: #008cff;
  text-align: center;
}
.content-section .content p{
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.5;
}
.content-section .button{
  margin-top: 30px;
  margin-inline-start: 25%;
  }
.content-section .button a{
  display: relative;
  background-color: #ff0000;
  padding:12px 40px;
  color:rgb(217, 255, 2);
  text-decoration:none;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.content-section .button a:hover{
  background-color:#a52a2a;
  color:#fff;
}
.social{
  margin: 30px;
  margin-inline-start: 25%;

}
.social i{
  color:#a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover{
  color:#008cff;
}
/*Mobile View*/
@media screen and (max-width:768px){
  .top-nav-right{
    float:none;
  }
  .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section{
    float:none;
    width: 100%;
    display: block;
    margin:auto;
  }
  .image-section{
    float:none;
    width:100%;
  }
  .image-section img{
    width:70%;
    height: auto;
    display: block;
    margin:auto;
    border-radius: 50%;
    object-fit: cover;
  }
.content-section .title{
  text-align: center;
  font-size:19px;
  }
  .content-section .button{
    text-align: center;
    align-items: center;
  }
  .content-section .button a{
    padding: 9px 30px;    
  }
  .social{
    margin: 60px;
  }
  .content-section .social{
    text-align: center;
  }
}
